<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Thymeleaf-trainer</title>
</head>
<link type="text/css" rel="stylesheet" href="/css/chatstyle.css"/>
<body>



<div class = "top" align="center"> 

    <h1>About Tutors</h1>

    <table class="TopRatedTutors">
    <tr th:each="Trainers : ${Trainers}">
            <th>ID :</th>
            <td th:text="${Trainers.id}">Default</td>
            <th>Name:</th>
            <td th:text="${Trainers.name}">Default</td>
            <th>Qualifications :</th>
            <td th:text="${Trainers.degree}">Default</td>
            <th>Chat Now :</th>
            <td><a th:text="${Trainers.session}" th:href="@{/chat}">Default</a></td>
            
        
    </tr>
    </table>
<br>
<br>
</div>


<a th:href="@{/home}">Back</a>
</body>
</html>